
<!--Begin core plugin -->
<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__PLU__/moment/moment.js"></script>
<script src="__JS__/jquery.slimscroll.js "></script>
<script src="__JS__/jquery.nicescroll.js"></script>
<script src="__JS__/functions.js"></script>
<!-- End core plugin -->

<!--Begin Page Level Plugin-->
<script src="__PLU__/morris-chart/morris.js"></script>
<script src="__PLU__/morris-chart/raphael-min.js"></script>
<script src="__PLU__/jquery-sparkline/jquery.sparkline.min.js"></script>
<script src="__PAG__/dashboard.js"></script>
<!--End Page Level Plugin-->