<link rel="icon" href="__IMG__/favicon.png" type="image/png">
<!--Begin  Page Level  CSS -->
<link href="__PLU__/morris-chart/morris.css" rel="stylesheet" type="text/css">
<link href="__PLU__/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
<!--End  Page Level  CSS -->
<link href="__CSS__/icons.css" rel="stylesheet" type="text/css">
<link href="__CSS__/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="__CSS__/style.css" rel="stylesheet" type="text/css">
<link href="__CSS__/responsive.css" rel="stylesheet" type="text/css">